@charset "utf-8";
/*-- html5 reset --*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, cite, del, em, img, q, u, i, dl, dt, dd, ol, ul, li, form, label, table, tr, th, td, tbody, tfoot, thead, input, select, textarea, button {margin:0;padding:0;border:0;}

body { font-size: 1em; line-height: 25px; font-family: "微软雅黑"; color:#666; min-width: 1200px; margin: 0 auto; cursor:default; word-break:break-all;  white-space:normal; -webkit-tap-highlight-color:rgba(255,255,255,0);}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
a { color:#555; text-decoration:none;}
a:hover {text-decoration:none;}
a:active {color:#777; text-decoration:none;}
img, input, select, textarea {vertical-align:middle; font-family:"Microsoft YaHei";}
table {border-collapse:collapse; border-spacing:0;}
ol, ul {list-style: none;}
i,em,cite { font-style:normal;}
:focus {outline: none;}
.clearfix:after { clear:both; content:""; height:0; visibility:hidden; font-size:0; line-height:0; display:block;}
.clearfix { zoom:1;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#999}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#999}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#999}
/*---- 公共设置 ---*/
.f-f-s { font-family:"宋体";}
.fl { float: left;}
.fr { float: right;}
.font85 { font-size: 0.85em;}
.font75 { font-size: 0.75em;}
.font125 { font-size: 1.25em;}
.f12 { font-size: 12px;}
.f14 { font-size: 14px;}
.f16 { font-size: 16px;}
.f20 { font-size: 20px;}
.fb { font-weight: bold;}
.mart10 { margin-top: 10px;}
.mart15 { margin-top: 15px;}
.marl10 { margin-left: 10px;}
.marr10 { margin-right: 10px;}
.marb40 { margin-bottom: 40px;}
.padb40 { padding-bottom:40px;}
.padt10 { padding-top: 10px;}
.padt5 { padding-top: 5px;}
.padl10 { padding-left: 10px;}
.padr10 { padding-right: 10px;}
.padb10 { padding-bottom: 10px;}
.padlr7 { padding: 0 7px;}
.padlr12 { padding: 0 12px;}
.padtb10 { padding: 10px 0;}
.pad5 { padding: 5px;}
.pad10 { padding: 10px;}
.bor1 { border:1px solid #cdcdcd;}
.bor2 { border:1px solid #e1e1e1;}
.bor3 { border:1px dotted #ddd;}
.bor-b { border-bottom:1px solid #e1e1e1;}
.bor-b-d { border-bottom:1px dotted #e1e1e1;}
.bor-l { border-left:1px solid #e1e1e1;}
.born { border: none !important;}
.bor-r { border-radius:3px;}
.bor-r1 { border-radius:5px;}
.bor-r2 { border-radius:8px;}
.t-c { text-align: center;}
.t-l { text-align: left;}
.t-r { text-align: right;}
.v-t { vertical-align: top;}
.v-m { vertical-align: middle;}
.bg-f { background: #fff;}
.bg-f6 { background: #f6f6f6;}
.bg-c3 { background: #c3c3c3;}
.bg-f60 { background: #f60;}
.bg-f00 { background: #f00;}
.bg-e { background: #eee;}
.cf { color: #fff;}
.c1 { color: #111;}
.c3 { color: #333;}
.c4 { color: #444;}
.c8 { color: #888;}
.c9 { color: #999;}
.cd { color: #ddd;}
.red { color: #f00;}
.red-y { color: #f60;}
.cblue { color: #27a9e3;}
.cgreen { color: #28b779;}
.line30 { line-height: 30px;}
.line20 { line-height: 20px;}
.line15 { line-height: 15px;}
.w25 { width: 25%;}
.w100 { width: 100%;}
.w90 { width: 90%;}
.w50 { width: 50%;}
.w20 { width: 20%;}
.w10 { width: 10%;}
.w0 { width: 0%;}
.w32 { width: 32%;}
.w30 { width: 30%;}
.w40 { width: 40%;}
.w5 { width: 5%;}
.w70 { width: 70%;}
.h25 { height: 25px;}
.h50 { height: 50px !important;}
.h90 { height: 90px !important;}
.d-table { display: table;}
.d-b { display: block;}
.d-i { display:inline-block;}
.d-t-cell { display: table-cell;}
.p-a { position: absolute;}
.p-r { position: relative;}
.over { overflow: hidden;}
.t-over { text-overflow: ellipsis; white-space: nowrap;}
.t-ovr { white-space: nowrap;}
/* 翻页样式 */
.page { font:14px/20px Arial; overflow:hidden;}
.r-page { text-align:center;}
.r-page a { padding:5px 11px; display:inline-block; border:1px solid #e3e3e3; color:#333; margin-left:-1px;}
.r-page .page-f,.r-page .page-l { margin:0 10px;}
.r-page .page-f { padding-left:5px;}
.r-page .page-l {padding-right:5px;}
.r-page a.current,.r-page a.current:hover { background:#0992f1; border:1px solid #0992f1; color:#fff;}
.r-page a:hover { color:#0992f1;}
.page-f s,.page-l s { width:0; height:0; border:5px solid #eee; line-height:0; font-size:0; display:inline-block;}
.page-f s { border-right-color:#666;  margin-right:5px;}
.page-l s { border-left-color:#666;  margin-left:5px;}
.r-page a.page-f:hover s { border-right-color:#0992f1;}
.r-page a.page-l:hover s { border-left-color:#0992f1;}
/*  小标签 */
.bgy-bq { background: #f60; padding: 1px 5px 2px; color: #fff; font-size: 12px; border-radius: 3px;}