.producttabs{
	background:#fff;
	 position: relative;
}
.producttabs .tab-nav {
	background:url(../image/bg-tabs.png) left top repeat-x;
	height:47px;
}
.producttabs .box-product .name a{padding:0px 10px }
.producttabs .tab-nav .nav-tabs{border:none; }
.producttabs .tab-nav .nav-tabs > li {float:right; border:none; border-left:1px solid #ebebeb; border-radius:0px; position:relative}
.producttabs .tab-nav .nav-tabs > li > a{ border-radius:0px;border:none; padding:0px 20px; line-height:45px; color:#565758; font-size:14px;
	margin:0px;
	text-transform: uppercase;}

.producttabs .tab-nav .nav-tabs > .active > a,
.producttabs .tab-nav .nav-tabs > .active > a:hover,
.producttabs .tab-nav .nav-tabs > .active > a:focus {
	background:url(../image/bg-tabs-hover.png) left top repeat-x;
	color:#FFF;
}
.producttabs .tab-nav .nav-tabs > .active:after {
  position: absolute;
  top: 45px;
  left: 30%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-top: 6px solid #2ab8da;
  border-left: 6px solid transparent;
  content: '';
}


.box-products {
}
.producttabs .carousel-control{
	z-index:10
}

.producttabs .nav{
	padding:0;
	margin:0
}
.producttabs .carousel-controls{
	position:absolute;
	top:1px;
	left:1px;
	z-index:11;
	width:85px
}
.producttabs .carousel-controls a.carousel-control{
	font-size: 19px;
	font-weight: bold;
	height: 45px;
	text-indent:-9999em;
	margin: 0;
	text-decoration: none;
	width: 40px;border:none;border-right:1px solid #ebebeb;
	padding:0px; background:none;border-radius:0;position:static;border-radius:0;
}
.producttabs .carousel-controls a.left{background:url(../image/carouse-prev.png) center center no-repeat;  }
.producttabs .carousel-controls a.right{background:url(../image/carouse-next.png) center center no-repeat}
.producttabs .tab-content, .producttabs .box-product{
	overflow:inherit; margin:0px;
}
.producttabs .tab-content{border-bottom:1px solid #EBEBEB}
.producttabs .box-product{
}