.msg-success, .msg-warning, .msg-attention, .msg-information {
    padding: 10px 10px 10px 33px;
    margin-bottom: 15px;
    color: #555555;

}
.msg-success {
    background: #EAF7D9 url('../yk_img/icon/success.png') 10px center no-repeat;
    border: 1px solid #BBDF8D;
    font-size:14px;
}
.msg-warning {
    background: #FFD1D1 url('../yk_img/icon/warning.png') 10px center no-repeat;
    border: 1px solid #F8ACAC;
}
.msg-attention {
    background: #FFF5CC url('../yk_img/icon/attention.png') 10px center no-repeat;
    border: 1px solid #F2DD8C;
}
.msg-success .close, .msg-warning .close, .msg-attention .close, .msg-information .close {
    float: right;
    padding-top: 4px;
    padding-right: 4px;
    cursor: pointer;
}
.required {
    color: #FF0000;
    font-weight: bold;
}
.error {
    display: block;
    color: #FF0000;
}
.help {
    color: #999;
    font-size: 10px;
    font-weight: normal;
    display: block;
}
.detail-view{
    color: #05e;
}
.l-products{border-left-color: #C30D23;}
.button-search{cursor: pointer;}
.ebbox span { padding: 0 11px 0 16px;}  
.yk_members li{float:left;width:120px;margin:10px 39px 0px;_margin:10px 33px 0px;}
.yk_members li img{-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;border:2px solid #ddd;}
.yk_members li p{line-height:20px;text-align:center;}
.yk_members li p.thin{color:#999;}
.yk_members li a{display:block;width:118px;height:118px;border-radius:50%;border:2px solid #ccc;background:#f8f8f8;text-decoration:none;}
.yk_members a span{display:block;width:80px;height:50px;margin:34px auto;text-align:center;font-size:14px;color:#999;}