@charset "utf-8";
@import "yk_reset.css";
.w{ width: 1200px; margin-left: auto; margin-right: auto;}
.w210 {  width: 210px;}
.w980 { width: 980px;}
.more {font-size: 12px; color: #888;}
.redd a { color: #FF0000;}
.btb3 { border-bottom-width: 2px !important;}
.icon { background: url("../yk_img/icon/icon.png") no-repeat;}
.icon2 { background: url("../yk_img/icon/icon2.png") no-repeat;}
.header { background: #fff;box-shadow: 0 2px 2px #ddd; height: 33px; line-height: 33px; color: #ddd; *border-bottom: 1px solid #eee;}
.h-weix { padding: 0 30px 0 0; margin-top: 8px; position: relative;display: inline-block; z-index: 3;}
.wxtub { background-position: -225px -7px; width: 23px; height: 18px; display: inline-block; vertical-align: middle; margin-bottom: 3px;}
.h-down { position: absolute; background-position: 0 -6px; width: 11px; height: 7px; top:6px; right: 10px; transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;}
.wxbox {display: none; background: #fff; border: 1px solid #ddd; width: 200px; padding: 5px; position: absolute; top: 18px; left: 0; line-height: 22px;}
.wxbox img { width: 100%;}
.hov .wxbox,.head-ul .hov .bd,.hov .search-dd  { display: block;}
.hov .h-down {transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);}
.head-ul { height: 32px;}
.head-ul li { float: left; line-height: 32px; z-index: 3;}
.head-ul .hd { padding: 0 30px 0 10px; position: relative; z-index: 3; line-height: 32px;}
.head-ul .hd .h-down { top: 13px; *top: 6px;}
.head-ul .bd {display: none; position: absolute; top: 31px; left: 0; background: #fff; border: 1px solid #ddd;padding: 5px 10px; width: 80px;}
.head-ul .bd a { display: block; line-height: 28px; }
.head-ul .hov .hd {padding: 0 29px 0 9px; background: #fff; border-left: 1px solid #ddd;border-right: 1px solid #ddd;}
/*  logo  */
.logobox { padding: 25px 0 20px; height: 70px;}
.logo-search { float: left; padding-left:260px; width: 540px;}
.l-s-box { height: 34px; border: 2px solid #c30c22; width: 536px;}
.s-select { float: left; position: relative; font-size: 14px;}
.search-dt {padding: 0 30px 0 10px; width:70px;  line-height: 34px; position: relative; z-index: 3;}
.search-dt .h-down { top: 14px; right: 19px;}
.search-dd { position: absolute; background: #fff; top: 30px; left: 0; padding: 5px 0 0; line-height: 30px; color: #888; display: none;}
.search-dd .on { background: #f7f7f7;}
.search-dd .db { padding: 0 15px 0 10px;}
.s-text { height: 34px; line-height: 34px; width: 326px;}
.s-sub { height: 34px; line-height: 34px; background: #c30c22; width: 100px; color: #fff; font-size: 16px;}
.gwc { display: block; background-position:-78px -7px; width: 139px; height: 38px; position: relative; }
.gw_num { position: absolute; top:-1px; right: 20px; background-position: -15px -6px; width: 16px; height: 14px; text-align: center; color: #fff; font-size: 12px; line-height: 14px;}
/* nav */
.navbox { height: 40px; border-bottom: 2px solid #c30c22;}
.nav { position: relative; margin-left: -1px;}
.nav .nav-li {position:relative; float: left; background: url("../yk_img/icon/navli-bg.png") no-repeat left center; width: 145px; line-height: 40px; height: 40px; text-align: center; color: #333; font-size: 16px;}
.nav li.on { background: #c30c22;color: #fff;}
.nav li:hover { background: #b1191a;color: #fff; border-left: 1px solid #F5F5F5; width: 144px;}
.nav .nav-li a { color: #111;}
.nav .nav-li:hover a { color: #fff;}
.nav li.on a { color: #fff;}
.freem { background-position: -10px -25px; position: absolute; top:7px; right:7px; width: 23px; height: 12px;}
.nav-adbox { position: absolute; bottom: 0; right: 0;}
/*  工程申请  */
.gc-boxl { float: left; display: inline; width: 338px; height: 417px; border: 1px solid #ccc; border-bottom-width:2px;background: #fff1f1; overflow: hidden; }
.gc-table { background: #fff; border-bottom: 2px solid #c30c22; margin-left: -1px; height: 65px; width: 340px;}
.gc-table li {position: relative; color: #333; float: left; padding: 15px 0 10px; line-height: 20px; border-left: 1px solid #ccc; width: 84px; font-size: 14px; text-align: center;}
.s-down {display: none; background-position: -1px -25px; width: 7px; height: 4px; position: absolute; top: 0; left:38px;}
.gc-table li.tabon { background: #fff1f1; border-top: 2px solid #c30c22; padding: 13px 0 12px; color: #C30D23; font-weight: bold;}
.gc-table li.tabon .s-down {display: block;}
.gc-b-detail { padding: 20px 30px 15px; width: 278px;}
.gc-tab-text { background: #fff; border: 1px solid #dedede; height: 34px; line-height: 34px; padding: 0 10px; width: 256px;}
.gc-tab-sub { background: #C30D23; height: 35px; line-height: 35px; color: #fff; width: 100%; font-size: 16px; border-radius: 3px; cursor: pointer;}
.tel-phone { text-align: center; border-bottom: 1px dashed #ddd; padding-bottom: 10px; line-height: 35px; margin: 0 15px;}
.telphone { background-position: -38px -2px; width: 38px; height: 28px; display: inline-block; vertical-align: middle; margin: 0 10px 5px 0;}
.e-cnuo { padding: 10px 20px 5px; font-size: 12px;}
/* 焦点图 */
.sliderbox { width: 600px; margin-left: 10px; display: inline;}
.focus { width:600px; height:270px; overflow:hidden; position:relative; }
.focus .hd{ height:15px; overflow:hidden; position:absolute; right:10px; bottom:5px; z-index:1; }
.focus .hd ul{ overflow:hidden; zoom:1;height: 15px;}
.focus .hd ul li{ float:left; margin-right:2px;  width:10px; height:10px; border-radius: 5px; text-align:center; background:#fff; cursor:pointer; }
.focus .hd ul li.on{ background:#f00; color:#fff; }
.focus .bd{ position:relative; height:100%; z-index:0;   }
.focus .bd ul { width: 4000px;}
.focus .bd li{ zoom:1; vertical-align:middle; float: left; width: 600px; height: 270px; }
.focus .bd img{ width:600px; height:270px; display:block;  }
.focus .prev,.focus .next{ position:absolute; top:50%; margin-top:-32px; display:block; width:38px; height:64px; filter:alpha(opacity=20);opacity:0.2;   }
.focus .next{right:0; background-position:-38px -23px; }
.focus .prev{left:0; background-position:0 -23px; }
.focus .prev:hover,.focus .next:hover{ filter:alpha(opacity=80);opacity:0.8;  }
/* e站快报 */
.e-news { width: 238px; border: 1px solid #ccc; border-bottom-width: 2px;}
.e-title { line-height: 33px; border-bottom: 1px solid #dedede; padding: 0 10px; font-size: 14px; font-weight: bold; color: #C30D23;}
.e-title .more { font-weight: normal;}
.xf-box { width: 228px; height: 170px; overflow: hidden;}
.xf-box ul { display: block; width:230px; height: 172px;}
.xf-box ul li { float: left; border-bottom: 1px dotted #dedede; border-right: 1px dotted #dedede; width: 94px; height: 75px; padding: 10px 10px 0; text-align: center; font-size: 12px;}
.xf-box ul li .icon {height: 43px; display: inline-block; transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;}
.zxxf-des { background-position: -77px -3px; width: 37px; }
.zxxf-sg { background-position: -115px -3px; width: 45px; }
.zxxf-jc { background-position: -162px -3px; width: 49px; }
.zxxf-bs { background-position: -211px -3px; width: 40px; }
.xf-box ul li a:hover .icon { transform:translate(-5px);-webkit-transform:translate(-5px);-moz-transform:translate(-5px);}
/*  流程  */
.htitle { height: 40px;}
.line-r { position: absolute; top: 20px; left: 90px; width: 1110px; background: url("../yk_img/icon/title-r.png") repeat-x; height: 8px;  }
.lc-title { position: absolute; font-size: 20px; color: #333; z-index: 3; top: 7px; left: 0; padding-right: 5px;}
.lc-ul { height: 125px; width: 1220px;}
.lc-ul .lc-li { float: left; display: inline; width: 120px; height: 120px; margin-right: 15px;}
.lc-lia { display: block; width: 118px; height: 118px; line-height: 35px; border: 1px solid #ccc; text-align: center; border-radius: 3px; background: #fff; font-size: 14px; color: #666;}
.lc-lia .icon { display: inline-block; vertical-align: middle; margin-top:25px; height: 42px; transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;}
.lc-lia:hover { background: #c30c22; color: #fff; border: 1px solid #c30c22;}
.xfsj { background-position: -1px -47px; width: 36px;}
.xfsg { background-position: -39px -47px; width: 38px;}
.xfzxcl { background-position: -78px -47px; width: 29px;}
.xfssjc { background-position: -111px -47px; width: 25px;}
.xfshys { background-position: -138px -47px; width: 31px;}
.xfwb { background-position: -171px -47px; width: 38px;}
.xftg { background-position: -211px -47px; width: 28px;}
.xfpx { background-position: -241px -47px; width: 34px;}
.xfbz { background-position: -277px -47px; width: 34px;}
.lc-lia:hover .xfsj { background-position: -1px -91px; width: 36px;}
.lc-lia:hover .xfsg { background-position: -39px -91px; width: 38px;}
.lc-lia:hover .xfzxcl { background-position: -78px -91px; width: 29px;}
.lc-lia:hover .xfssjc { background-position: -111px -91px; width: 25px;}
.lc-lia:hover .xfshys { background-position: -138px -91px; width: 31px;}
.lc-lia:hover .xfwb { background-position: -171px -91px; width: 38px;}
.lc-lia:hover .xftg { background-position: -211px -91px; width: 28px;}
.lc-lia:hover .xfpx { background-position: -241px -91px; width: 34px;}
.lc-lia:hover .xfbz { background-position: -277px -91px; width: 34px;}
/*  案列精选  */
.index-t { border-left: 5px solid #b71d1d; padding-left: 10px; font-size: 20px; line-height: 22px; color: #333;}
.hzlogopic { width: 1210px; height: 121px; overflow: hidden;}
.hzlogopic .logopic { width: 149px; height: 60px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; float: left; display: inline; text-align: center; overflow: hidden;}
.hzlogopic .logopic a:hover img { opacity: 0.6; filter:alpha(opacity=60);}
.l-rline { background-position: 0 0; width: 365px; height: 5px; position: absolute; top: -3px; right:-1px;}
.anbox:hover .l-rline {-webkit-animation:lright 1s .3s 3;-moz-animation:lright 1s .5s 3;animation:lright 1s .5s 3;}
@keyframes lright{0%{right:100%;opacity:.3;} 100%{right:0;opacity:1;}}
@-webkit-keyframes lright{0%{right:100%;opacity:.3;} 100%{right:0;opacity:1;}}
@-moz-keyframes lright{0%{right:100%;opacity:.3;} 100%{right:0;opacity:1;}}
.l-blue { border-left-color: #269ad0;}
.l-fens {border-left-color: #e87499;}
.l-zongs {border-left-color: #b16c2f;}
.l-green {border-left-color: #52b11f;}
/*  消防器材  */
.indexshop { height: 418px; overflow: hidden;}
.indexs-l { float: left; width: 229px; height: 418px; position: relative; z-index: 11; border-right: 1px solid #ccc; display: inline;}
.shop-style { height: 70px;z-index:3;  }
.slist-dt { padding:0 10px 0 10px;font-size: 12px; position: relative; z-index: 3;}
.slist-dt p a { padding-right: 10px; color: #888;}
.slist-dt .h { padding: 6px 5px 7px 10px; line-height: 28px; height: 56px;border-bottom: 1px dotted #dedede; }
.slist-jt { font-family: "宋体"; font-size: 16px; color: #ccc; margin-top: 14px;}
.slist-dd {display: none; position: absolute; z-index: -1; background: #f2f6fc; top:-1px; left: 228px; width: 140px; height: 408px; border: 1px solid #ccc; padding:5px 10px;}
.indexs-l .hover { background: #f2f6fc; height: 71px;}
.hover .slist-dt { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; margin-top: -1px; }
.hover .slist-dt .h { border-bottom: none; }
.shebei .shop-style { height: 107px;}
.shebei .hover { height: 108px;}
.shebei .slist-dt .h { padding: 12px 5px 7px 10px; line-height: 28px; height: 87px; }
.slist-dd a {display:block;font-size: 12px; white-space: nowrap; line-height: 30px; width: 140px; overflow: hidden;}
.hover .slist-dd {display: block;}
.shop-box { float: left; width: 759px; height: 408px; display: inline; border-right: 1px solid #dedede; padding: 5px; overflow: hidden;}
.shop-box-ul { width: 770px; height: 408px;}
.box-ul-li {float: left; display: inline; width: 234px; height: 184px; padding: 10px; border-right: 1px dotted #ddd; border-bottom: 1px dotted #ddd;}
.box-ul-li a {width: 234px; height: 184px; overflow: hidden; font-size: 12px; color: #888;}
.box-ul-li .shoppic { position: absolute; bottom: 0; right: 0; z-index: 0; transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;}
.box-ul-li a:hover .shoppic { position: absolute; bottom: 0; right: 0; z-index: 0; transform:translate(-5px);-webkit-transform:translate(-5px);-moz-transform:translate(-5px);}
/*  侧栏广告位  */
.inslider,.inslider2 { float: right; width: 198px; height: 418px; position:relative; overflow: hidden; }
.inslider .hd,.inslider2 .hd{ height:15px; overflow:hidden; position:absolute; left:80px; bottom:5px; z-index:1; }
.inslider .hd ul,.inslider2 .hd ul{ overflow:hidden; zoom:1;height: 15px;}
.inslider .hd ul li,.inslider2 .hd ul li{ float:left; margin-right:5px;  width:10px; height:10px; border-radius: 5px; text-align:center; background:#fff; cursor:pointer; }
.inslider .hd ul li.on,.inslider2 .hd ul li.on{ background:#f00; color:#fff; }
.inslider .bd,.inslider2 .bd{ position:relative; height:100%; z-index:0;   }
.inslider .bd ul,.inslider2 .bd ul { width: 800px;}
.inslider .bd li,.inslider2 .bd li{ zoom:1; vertical-align:middle; float: left; }
.inslider .bd img,.inslider2 .bd img{ width:198px; height:418px; display:block;  }
.inslider .next,.inslider .prev,.inslider2 .next,.inslider2 .prev { display: none;}
/* 消防公司 */
.l-gs-list { border: 1px solid #ccc; width: 898px; height: 205px; padding: 10px 0; float: left; display: inline;overflow: hidden;}
.gslist-dl { padding: 0 12px; width: 200px; border-right:1px dotted #dedede; float: left; display: inline; }
.gs-list-dt { font-size: 16px; color: #333; line-height: 35px; padding-bottom: 5px;}
.gs-l-dd { font-size: 12px; line-height: 28px; white-space: nowrap;text-overflow: ellipsis; overflow: hidden;}
.gs-list-dt .icon { width: 12px; height: 12px; vertical-align: middle; display: inline-block; margin: 0 10px 2px 0;}
.design-gs { background-position: -256px -6px;}
.jc-gs {background-position: -271px -6px;}
.wb-gs {background-position: -255px -21px;}
.gc-gs {background-position: -271px -21px;}
.gs-l-dd { background: url("../yk_img/icon/r-t1.png") no-repeat left center; padding-left: 12px;}
.w900 { width: 900px;}
.r-gs-list { border: 1px solid #ccc; width:298px; height:225px;border-left: none; float: left; display: inline;overflow: hidden;}
.r-gs-ul {height: 40px; width: 300px; text-align: center; font-size: 14px;}
.r-gs-ul li { position: relative; background: #f2f2f2; border-bottom: 1px solid #dedede;border-right: 1px solid #dedede; width: 148px; line-height: 40px; float: left; display: inline;}
.r-gs-ul li.tabon { background: #fff; border-bottom: 1px solid #fff; border-top: 2px solid #c30c22; color: #c30c22; line-height: 38px;}
.r-gs-ul li .s-down { left: 72px;}
.r-gs-ul li.tabon .s-down { display: block;}
.new-gs {font-size: 12px; line-height: 28px;}
.r-bg-b { background: #C30D23; width:18px; height:18px; line-height: 18px; display: inline-block; vertical-align: middle; color: #fff; text-align: center; font-size: 14px; margin: 0 8px 2px 0; font-family: "Arial";}
.b-bg-b { background: #ddd; width:18px; height:18px; line-height: 18px; display: inline-block; vertical-align: middle; color: #fff; text-align: center; font-size: 14px; margin: 0 8px 2px 0; font-family: "Arial";}
.news-gs .gslist-dl { width: 250px; border-right: none;}
.index-news {border: 1px solid #dedede; border-left: none; height: 339px; width: 998px; float: right; display: inline; padding: 10px;}
.index-news-ul { width: 1018px; height: 160px; border-bottom: 1px solid #dedede; padding-bottom: 10px;}
.index-n-li { float: left; display: inline; width: 322px; height:160px; border-right: 1px dotted #dedede; margin-right: 11px;margin-left:3px; }
.newspic { float: left; width:99px; height: 99px; border: 1px solid #dedede; margin-top: 5px;}
.newsbox1 { display: block; width: 181px; height: 180px;overflow: hidden;}
.newsbox2 { display: block; width: 181px; height: 181px;overflow: hidden;}
.newsb-bg1 { background: url("../yk_img/icon/newspic.jpg") no-repeat 0 0; width: 181px; height: 180px;display: block; transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;}
.newsb-bg1:hover { transform:translate(3px);-webkit-transform:translate(3px);-moz-transform:translate(3px);}
.newsb-bg2 { background: url("../yk_img/icon/newspic.jpg") no-repeat 0 -180px; width: 181px; height: 181px;display: block; transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;}
.newsb-bg2:hover { transform:translate(3px);-webkit-transform:translate(3px);-moz-transform:translate(3px);}
.news-a { float: left; padding-left: 10px; width: 210px; overflow: hidden;}
.news-a a { display: block;  white-space: nowrap; overflow: hidden; font-size: 12px; line-height: 22px;}
.ztc-pic { float: left; border: 1px solid #dedede; padding: 1px; overflow: hidden; margin-right: 10px; display: inline;}
.ztc-ul {width: 910px; display: inline;}
.ztc-li { float: left; margin: 0 0 10px 15px; display: inline; width: 136px; font-size: 12px;}
.ztc-li a { display: block; background: #f8f8f8; border: 1px solid #ddd; border-radius: 5px; line-height: 20px; padding: 5px 0; text-align: center;}
.bor1 a { border-color: #bfc9fc;}
.bor2 a { border-color: #fcdd82;}
.bor3 a { border-color: #96dddd;}
.bor4 a { border-color: #e39ba4;}
.bor5 a { border-color: #fcbfdd;}
.bor6 a { border-color: #aaddfc;}
.linkf { border-top: 2px solid #999; padding-top: 10px; color: #ccc; font-size: 12px;}
.linkf a { padding: 0 10px;}
.foot { border-top: 1px solid #dedede; padding-top: 5px; padding-bottom: 30px; font-size: 12px;}
.foot b { color: #ddd; padding: 0 15px;}
/* 产品详细页 */
.shopdetail-box { border: 1px solid #e4e4e4; padding: 20px; width: 1158px;}
.shoppic-box { width: 431px;}
.jqzoom { width: 429px; height: 429px; border: 1px solid #eee; position: relative;}
.sdetail-pic { width: 429px; height: 429px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:62px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
.zoomdiv {z-index: 100; position: absolute; top: 1px; left: 0px; width: 400px; height: 400px; border: 1px solid #e4e4e4; display: none; text-align: center; overflow: hidden;}
.bigimg{width:800px;height:800px;}
.spec-n5 { position: relative; width: 361px; height: 62px; padding: 0 35px;}
.spec-n5 .icon2 { position: absolute; height: 62px; width: 21px; top: 0; cursor: pointer;}
.oncl { background-position: -78px -48px; left: 0;}
.oncr { background-position: -100px -48px; right: 0;}
#spec-list { width: 361px; height: 62px;overflow: hidden;}
.list-h { width: 10000px; height: 62px;}
.list-h li { float: left; width: 60px; height: 60px; border: 1px solid #fff; display: inline; margin-right: 12px;}
.list-h li img { width:60px; height:60px;}
.list-h li.on { border-color: #b1191a;}
.shopd-news { float: left; width:650px; padding-left: 30px;}
.shopd-name { font-size: 14px; color: #C30D23; line-height: 22px;}
.shopd-name h2 { font-size: 16px; color: #444; line-height: 30px; padding-bottom: 5px;}
.shopd-price {padding: 10px 15px; background: #f2f2f2; line-height: 35px;}
.shopd-price .price { font-size:20px; font-family: Arial,Verdana,"\5b8b\4f53"; display: inline-block; vertical-align: middle;}
.shop-other-news { padding: 0 15px; position: relative;}
.shop-other-news li { padding-bottom: 20px; line-height: 35px;}
.label-n { float: left; width: 80px; font-size: 14px;}
.xh-style { float: left; width: 540px;}
.xh-style .hov { border-color: #b1191a;}
.xh-pic { width: 50px; height: 50px; float: left; display: inline; margin: 0 10px 10px 0;border: 1px solid #ededed;}
.xh-pic img { width: 50px; height: 50px;}
.w150 { width: 150px;}
.s-buy-num { background: #fff; border: 1px solid #dedede; width:65px; height:40px; position: relative; float: left;}
.addnum { position: absolute;top: 0; right: 0; height: 19px; width: 21px; text-align: center; line-height: 19px; border-bottom: 1px solid #dedede; border-left: 1px solid #dedede;}
.jiannum {position: absolute;bottom: 0; right: 0; height: 20px; width: 21px; text-align: center; line-height: 20px;  border-left: 1px solid #dedede;}
.snum { width: 40px; height: 40px; line-height: 40px; border: none; text-align: center;}
.defalt-adtree { height: 33px; line-height: 33px; width: 160px; border: 1px solid #dedede; position: relative; padding-right:22px;}
.adtress-text { font-size: 14px; color: #666; padding-left: 5px; white-space: nowrap; overflow: hidden;}
.defalt-adtree .h-down { top: 14px;}
.gc-tab-sub2 {font-size: 16px; background: #fff; height: 33px; line-height: 30px; border: 2px solid #C30D23; border-radius: 3px; text-align: center;}
.xg-style { border: 1px solid #e4e4e4;}
.xg-style .title {color: #333; background: #f2f2f2; line-height: 35px; padding: 0 10px; border-bottom: 1px solid #e4e4e4;}
.box-s a { display: block; float: left; width: 94px; display: inline; font-size: 12px; line-height: 30px;}
.others li { border-bottom: 1px dotted #e4e4e4; padding-bottom: 5px; text-align: center; line-height: 30px; margin-top: 10px; font-size: 12px;}
.tjpic { width: 185px;}
.detail-n-title { border: 1px solid #e4e4e4; border-top: 2px solid #ccc; height: 35px; line-height: 35px;}
.detail-n-title .taboff { float: left; width: 150px; text-align: center; font-size: 14px;  border-right: 1px solid #e4e4e4;}
.detail-n-title .tabon {border-top: 2px solid #c30c22; position: relative; background: #fff; height: 36px; line-height: 36px; margin-bottom: -1px;margin-top: -2px; color: #C30D23;}
.detailbox { border: 1px solid #e4e4e4; border-top: none;}
.d-boxes { padding: 15px; overflow: hidden;}
.shop-cs-news { background: #f7f7f7; border: 1px solid #eee; padding: 10px;}
.shop-cs-news li { float: left; display: inline; line-height: 35px; width: 305px; font-size: 14px;}
.buy-jl { font-size: 14px; text-align: center;}
.buy-jl th { background: #f5f5f5; border-top: 2px solid #e9e9e9; border-bottom: 1px solid #eee; height: 35px; line-height: 35px; color: #888;}
.buy-jl td { padding: 8px 0; color: #333; border-bottom: 1px dotted #dedede;}
.title2 { line-height: 35px; border-bottom: 1px solid #dedede; padding: 0 10px; font-size: 14px;}
.zuij-look { width: 1200px;}
.zuij-look li { float: left; border: 1px solid #eee; width:160px; margin-right: 15px; padding: 10px;}
.zuij-look .tjpic { width: 160px;}
/* 商品列表页 */
.shopnum {padding-left: 8px; font-size: 12px; color: #999;}
.shopsty-box {position: relative; font-size: 14px;}
.s-show { line-height: 30px;}
.sshow { background-position: -134px -49px; width: 11px; height: 11px; display:inline-block; vertical-align: middle; margin: 0 8px 2px 0;}
.shopstylebox {display: none; padding-left: 11px;color: #666;}
.c-dd-box {display: none; padding-left: 19px; font-size: 12px; line-height: 30px;}
.shopstylebox dt { line-height: 30px;}
.c-dd-box a {display: block; white-space: nowrap; overflow: hidden;}
.phover h3 .sshow,.chover dt .sshow {background-position: -123px -49px;}
.phover .shopstylebox,.chover .c-dd-box { display: block;}
.chose-style { background: #f2f2f2; border: 1px solid #e4e4e4; height: 27px; line-height: 27px; padding: 5px; overflow: hidden;}
.paix-chose {float: left; background: #fff; border: 1px solid #eee; height: 25px; line-height: 25px; margin-left: 30px; overflow: hidden;}
.paix-li { float: left; display: inline; height: 25px; width: 80px; position: relative; margin-left: -1px; border-left: 1px solid #eee;text-align: center;}
.paix-chose .pon { background: #c30d23; color: #fff;}
.jg-shaix  { float: left; margin-left: 50px; display: inline;}
.price-text { height: 25px; line-height: 25px; border: 1px solid #eee; width: 50px; padding-left: 5px; vertical-align: baseline;}
.price-sub { height: 27px; line-height: 25px; border: 1px solid #eee; background: #F9F9F9; width: 50px; vertical-align: top; margin-left: 10px; color: #666;background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#eee)); background-image:-moz-linear-gradient(top,#fff,#eee);background-image:linear-gradient(to bottom,#fff,#eee);  }
.price-sub:active { background: #c30d23; color: #fff;}
.shopall-list { border: 1px solid #e4e4e4; border-top: none; padding-bottom: 10px;}
.shoplist { width: 1000px; padding-bottom: 10px;}
.s-item { margin: 15px 5px 0 6px; float: left; display: inline; width: 231px; height: 318px; border: 1px solid #e4e4e4;}
.s-item:hover { box-shadow: 0 0 4px #ccc; border-color: #c30d23;}
.spic { width: 221px; height: 221px;}
.s-name { border-top: 1px solid #e4e4e4; padding: 3px 10px 0; height: 50px;}

/*  翻页   */
.top-page { float: right; padding-right: 20px;}
.top-page .icon2 { display: inline-block; width: 20px; height: 20px;vertical-align: middle; margin-bottom:3px; filter:alpha(opacity=60); opacity: 0.6; }
.page-l { background-position: -143px -62px;}
.page-r { background-position: -123px -62px;}
.top-page .icon2:hover {filter:alpha(opacity=100); opacity:1;}
.pagebox {height: 30px; overflow: hidden;}
.page { float: right; height: 30px; line-height: 28px; padding-right: 20px;}
.prev-page {display: inline-block; height: 28px; padding: 0 15px; border: 1px solid #e4e4e4;}
.prev-page i { font-family:"宋体"; font-size: 14px; padding-right: 5px;}
.page-num  { display: inline-block; padding: 0 12px; border: 1px solid #e4e4e4; margin-left: 5px; }
.next-page {display: inline-block; height: 28px; padding: 0 15px; border: 1px solid #e4e4e4; margin-left: 5px;}
.next-page i { font-family:"宋体"; font-size: 14px; padding-left: 5px;}
.page .pon { background: #c30d23; border: 1px solid #c30d23; color: #fff;}