@charset "utf-8";
/*-- html5 reset --*/
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, address, cite, del, em, img, q, u, i, dl, dt, dd, ol, ul, li, form, label, table, tr, th, td,caption, tbody, tfoot, thead, input, select, textarea {
    margin:0;padding:0;border:0;
}
body {
    font-size: 1em; line-height: 25px; font-family: "microsoft yahei"; color:#666; cursor:default; word-break:break-all;  white-space:normal; min-width: 1200px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
a {
    color:#666; text-decoration:none;
}
a:hover {
    color: #C30D23;
    text-decoration:none;
}
a:active {
    color:#666; text-decoration:none;
}
img, input, select, textarea {
    vertical-align:middle; font-family:"Microsoft YaHei";
}
table {
    border-collapse:collapse; border-spacing:0;
}
ol, ul {
    list-style: none;
}
i,em,cite {
    font-style:normal;
}
:focus {
    outline: none;
}
.fix:after {
    clear:both; content:""; height:0; visibility:hidden; font-size:0; line-height:0; display:block;
}
.fix {
    zoom:1;
}

/*---- 公共设置 ---*/
.fa_s {
    font-family:"宋体";
}
.dn {
    display: none;
}
.di {
    display: inline;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
.vh {
    visibility: hidden;
}
.vv {
    visibility: visible;
}
.m0 {
    margin: 0;}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.ml20 {
    margin-left: 20px;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.mr20 {
    margin-right: 20px;
}
.mlr {
    margin-right: 10px; margin-left: 10px;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.p1 {
    padding: 1px;
}
.pl1 {
    padding-left: 1px;
}
.pt1 {
    padding-top: 1px;
}
.pr1 {
    padding-right: 1px;
}
.pb1 {
    padding-bottom: 1px;
}
.p5 {
    padding: 5px;
}
.pl5 {
    padding-left: 5px;
}
.pt5 {
    padding-top: 5px;
}
.pr5 {
    padding-right: 5px;
}
.pb5 {
    padding-bottom: 5px;
}
.p9 {
    padding: 9px;
}
.pl9 {
    padding-left: 9px;
}
.pt9 {
    padding-top: 9px;
}
.pr9 {
    padding-right: 9px;
}
.plr {
    padding-right: 10px; padding-left: 10px;
}
.pb9 {
    padding-bottom: 9px;
}
.p10 {
    padding: 10px;
}
.pl10 {
    padding-left: 10px;
}
.pt10 {
    padding-top: 10px;
}
.pr10 {
    padding-right: 10px;
}
.pb10 {
    padding-bottom: 10px;
}
.p15 {
    padding: 15px;
}
.pl15 {
    padding-left: 15px;
}
.pt15 {
    padding-top: 15px;
}
.pr15 {
    padding-right: 15px;
}
.pb15 {
    padding-bottom: 15px;
}
.p20 {
    padding: 20px;
}
.pl20 {
    padding-left: 20px;
}
.pt20 {
    padding-top: 20px;
}
.pr20 {
    padding-right: 20px;
}
.pb20 {
    padding-bottom: 20px;
}
.b_f {
    background: #FFF;
}
.b_fa {
    background: #FaFaFa;
}
.b_f6 {
    background: #f6f6f6;
}
.bd1 {
    border: 1px solid #dedede;
}
.bd2 {
    border: 1px solid #ccc;
}
.bdr3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.bdr5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.bdr10{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.c2 {
    color: #222;
}
.c3 {
    color: #333;
}
.c46 {
    color: #464646;
}
.c9 {
    color: #999;
}
.c8 {
    color: #888888;
}
.wh {
    color: white;
}
.c_r {
    color: #f00 !important;
}
.c_g {
    color: #8ec31f !important;
}
.cf6 {
    color: #f60 !important;
}
.cff {
    color: #be1025 !important;
}
.c_red {
    color: #C30D23 !important;
}
.f_0 {
    font-size: 0;
}
.f_s {
    font-size: 12px;
}
.f_m {
    font-size: 14px;
}
.f_l {
    font-size: 16px;
}
.f_xl {
    font-size: 18px;
}
.f_xxl {
    font-size: 20px;
}
.lh20 {
    line-height: 20px;
}
.lh25 {
    line-height: 25px;
}
.lh30 {
    line-height: 30px;
}
.n {
    font-weight: normal;
    font-style: normal;
}
.b {
    font-weight: bold;
}
.i {
    font-style: italic;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.tl {
    text-align: left;
}
.tj {
    text-align: justify;
}
.tdl {
    text-decoration: underline;
}

.nowrap {
    white-space: nowrap;
}
.bk {
    word-wrap: break-word;
}
.vm {
    vertical-align: middle;
}
.vtb {
    vertical-align: text-bottom;
}
.vb {
    vertical-align: bottom;
}
.vt {
    vertical-align: top;
}
.vn {
    vertical-align: -2px;
}
.l {
    float: left;
}
.r {
    float: right;
}
.cl {
    clear: both;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.poi {
    cursor: pointer;
}
.def {
    cursor: default;
}
.ovh {
    overflow: hidden;
}
.auto {
    margin-left: auto;
    margin-right: auto;
}

.cell {
    display: table-cell;
    *display: inline-block;
    width: 2000px;
    *width: auto;
}
.cell_bk {
    display: table;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}
.txt_clip {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.trans {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.dib_vm {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.bornone { border: none !important;}
.z-i { z-index: 1;}