
input.error { border: 1px dashed red;background:yellow;  }
select.error { border: 1px dashed red; background:yellow;  }
.error { color:red; font-size:11px;}

.valid {
    background: url("../yk_img/icon/success.png") no-repeat 280px 10px;
    color:#00F;    
}
input.valid{ border:#09F solid 1px;}
select.valid{ background:#FFC;}