.oauth_login{
	overflow:hidden;
}
.oauth_login .oauth_title{
	font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	font-size:11px;
	color:#999;
	border-bottom:1px #DDD dotted;
	padding-bottom:5px;
	margin-bottom:5px;
}
.oauth_login ul{
	list-style:none;
	padding:0px;
	margin:0px;
}
.oauth_login ul li{
	display:inline-block;
	margin-right:10px;
	margin-bottom:16px;
	height:16px;
	overflow:hidden;
}
.oauth_login ul li a{
	height:16px;
	line-height:18px;
	padding-left:20px;
	text-transform:capitalize;
	text-decoration:none;
	color:#666;
}
.oauth_li_facebook{
	background:url(icon-base-16.png) no-repeat 0px 0px;
}
.oauth_li_facebook:hover{
	background:url(icon-base-16.png) no-repeat 0px -16px;
}
.oauth_li_google{
	background:url(icon-base-16.png) no-repeat 0px -32px;
}
.oauth_li_google:hover{
	background:url(icon-base-16.png) no-repeat 0px -48px;
}
.oauth_li_live{
	background:url(icon-base-16.png) no-repeat 0px -64px;
}
.oauth_li_live:hover{
	background:url(icon-base-16.png) no-repeat 0px -80px;
}
.oauth_li_qq{
	background:url(icon-base-16.png) no-repeat 0px -96px;
}
.oauth_li_qq:hover{
	background:url(icon-base-16.png) no-repeat 0px -112px;
}
.oauth_li_weibo{
	background:url(icon-base-16.png) no-repeat 0px -128px;
}
.oauth_li_weibo:hover{
	background:url(icon-base-16.png) no-repeat 0px -144px;
}
.oauth_li_baidu{
	background:url(icon-base-16.png) no-repeat 0px -160px;
}
.oauth_li_baidu:hover{
	background:url(icon-base-16.png) no-repeat 0px -176px;
}